In [24]:
# Import Splinter, BeautifulSoup and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd 
from webdriver_manager.chrome import ChromeDriverManager

In [25]:
# Set up Splinter
executable_path = {"executable_path" : ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)
url = "https://redplanetscience.com"
browser.visit(url)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [/Users/jsb/.wdm/drivers/chromedriver/mac64/92.0.4515.107/chromedriver] found in cache

In [26]:
html = browser.html
news_soup = soup(html,"html.parser")
news_title = news_soup.find_all("div", class_="content_title")[0].get_text()
print(news_title)

Q&A with the Student Who Named Ingenuity, NASA's Mars Helicopter

In [27]:
html = browser.html
news_soup = soup(html,"html.parser")
news_p = news_soup.find_all("div", class_="article_teaser_body")[0].get_text()
print(news_p)

As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.

In [28]:
url = "https://spaceimages-mars.com/image/featured/mars2.jpg"
browser.visit(url)

In [29]:
html = browser.html
image_soup = soup(html,"html.parser")
featured_image = image_soup.find_all("img")[0].get("src")
print(featured_image)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [30]:
mars_facts = pd.read_html("https://galaxyfacts-mars.com")[0]
mars_facts

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [31]:
mars_html = mars_facts.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [50]:
url = "https://marshemispheres.com/index.html"
browser.visit(url)

In [51]:
links = browser.links.find_by_partial_text("Hemisphere")

hemi_url = []
for i in range(len(links)):
    browser.links.find_by_partial_text("Hemisphere")[i].click()
    
    html = browser.html
    image_soup = soup(html,"html.parser")
    image_link = image_soup.find_all("div", class_="downloads")[0]
    link = image_link.find("a", href=True)
    link = "https://marshemispheres.com/" + link["href"]
    img_title = image_soup.find_all("h2", class_="title")[0].get_text()
    hemi_dict = {
        "img_url":link,
        "title":img_title
    }
    hemi_url.append(hemi_dict)
    browser.back()

hemi_url

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]